<div class="row">
	<div class="col s12 m12 l5 left white-text text-shadow">
		<h1 class="bold">Crea tu cuenta</h1>
		<h5>Crea una cuenta en <?php echo $f->__get("SITE_NAME"); ?> para poder aprender lenguaje de señas en forma didactica y divertida.</h5>
	</div>
	<div class="col s12 m12 l6 offset-l1">
		<div class="card">
			<div class="card-header grey lighten-3 grey-text text-darken-3">
				<h5>Comienza a jugar</h5>
			</div>
			<div class="card-content">
				<div class="row">
					<form action="/controller/usuarioController.php" method="post">
						<div class="input-field col s12">
							<input type="email" name="email" class="browser-default" placeholder="Ingresa tu email" id="email" maxlength="40" required>
						</div>
						<div class="input-field col s6">
							<input type="password" name="password" data-position="top" data-tooltip="Mínimo 8 carácteres" class="browser-default tooltipped" pattern="[A-Za-z0-9]{8,30}" minlength="8" placeholder="Contraseña" id="password" maxlength="30" required>
						</div>
						<div class="input-field col s6">
							<input type="password" name="repassword" pattern="[A-Za-z0-9]{8,30}" minlength="8" class="browser-default" placeholder="Repetir contraseña" id="repassword" maxlength="30" required>
						</div>
						<div class="input-field col s12">
							<select name="discapacidad" class="browser-default" id="discapacidad">
								<option selected disabled>Cuentas con dispacidad auditiva</option>
								<option value="1">Si</option>
								<option value="0">No</option>
							</select>
						</div>
						<div class="input-field col s12">
							<button type="submit" name="btnUser" value="registrar" class="btn right green full-width waves-effect waves-light">Crear cuenta</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
